<header class="container position-top">
    <h1>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand header__name" routerLink="/">{{title}}</a>
              <form class="d-flex">
                <div class="navbar-brand"> <a class="navbar-brand" href="#">{{user}}</a></div>
              </form>
            </div>
          </nav>
    </h1>
    <h2 class="nav__buttons">   
        <div id="navbarResp" class="nav__buttons-items col-sm-12 text-center">
            <a id="btnProducts" type="button" class="btn btn-dark button__item" >Products</a>
            <a id="btnFavourite" type="button" class="btn btn-dark button__item">Favourite</a>
            <a id="btnCart" type="button" class="btn btn-dark button__item">Cart</a>
            <a id="btnSinginAdmin" type="button" class="btn btn-dark button__item" routerLink="/signin">Sing in / Admin</a>
          </div>
    </h2>
    <hr class="my-4">
</header>