<section class="container">
    <div class="row">
        <div class="col-xs-12 d-flex justify-content-center">
            <form (ngSubmit)="onSignup(f)" #f="ngForm">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" ngModel class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" ngModel class="form-control" [minlength]="6">
                </div>
                <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Sign Up</button>
            </form>
        </div>
    </div>
</section>
